<h1>Admin Menu</h1>

<%= link_to 'Restaurants', restaurants_path %><br />
<%= link_to 'Import restaurants', import_restaurants_path %><br />
<%= link_to 'Import locations', locations_import_path %><br />
<%= link_to 'Categories', categories_path %><br />
<%= link_to 'Tickets', tickets_path %>