<div id="restaurants-index">
  <% @restaurants.each do |restaurant| %>
    <div class='restaurant'>
      <h2><%= restaurant.name %></h2>
      <table>
        <thead>
          <td>Location</td>
          <td>Pickup</td>
          <td>Delivery</td>
          <td>Uber Eats</td>
          <td>Skip the Dishes</td>
          <td>Foodora</td>
          <td>DoorDash</td>
          <% if admin? %>
            <td></td>
            <td></td>
          <% end %>
        </thead>
        <tbody>
          <% restaurant.locations.each do |location| %>
            <tr>
              <td><%= "#{location.name} (#{location.address})" %></td>
              <td><%= check_icon location.pickup %></td>
              <td><%= check_icon location.delivery %></td>
              <td><%= check_icon location.skip_the_dishes %></td>
              <td><%= check_icon location.uber_eats %></td>
              <td><%= check_icon location.foodora %></td>
              <td><%= check_icon location.door_dash %> </td>
              <% if admin? %>
                <td><%= link_to 'Edit', edit_restaurant_location_path(restaurant, location) %></td>
                <td><%= link_to 'Destroy', [restaurant, location], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='actions'>
        <%= link_to "New #{restaurant.name} location", new_restaurant_location_path(restaurant) %>
        <% if admin? %>
          | <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
          | <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>


  <%= link_to 'New Restaurant', new_restaurant_path %>
</div>
