<h1><%= 'YO' %></h1>
//<%= link_to 'Submit new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
<p>
  <h2>Locations</h2>

  <ul>
    <% @restaurant.locations.each do |location| %>
      <li><%= link_to "#{location.name} (#{location.address})", [@restaurant, location] %></li>
    <% end %>
  </ul>
  <%= link_to 'New location', new_restaurant_location_path(@restaurant) %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
