<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Emoji:</strong>
  <%= @category.emoji %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @category.featured %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
