<%= form_with(model: [@restaurant, location], local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.check_box :pickup %>
    <%= form.label :pickup, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.check_box :delivery %>
    <%= form.label :delivery, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.check_box :skip_the_dishes %>
    <%= form.label :skip_the_dishes, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.check_box :uber_eats %>
    <%= form.label :uber_eats, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.check_box :foodora %>
    <%= form.label :foodora, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.check_box :door_dash %>
    <%= form.label :door_dash, class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
