<h1><%= @restaurant.name %> Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Pickup</th>
      <th>Delivery</th>
      <th>Skip the dishes</th>
      <th>Uber eats</th>
      <th>Foodora</th>
      <th>Door dash</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.pickup %></td>
        <td><%= location.delivery %></td>
        <td><%= location.skip_the_dishes %></td>
        <td><%= location.uber_eats %></td>
        <td><%= location.foodora %></td>
        <td><%= location.door_dash %></td>
        <td><%= location.restaurant_id %></td>
        <td><%= link_to 'Show', [@restaurant, location] %></td>
        <td><%= link_to 'Edit', edit_restaurant_location_path(@restaurant, location) %></td>
        <td><%= link_to 'Destroy', [@restaurant, location], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_restaurant_location_path(@restaurant) %>
