<div id="locations-new">
  <% if params[:from_restaurant_form] %>
    <div class='notice'>
      😃Thanks for adding <%= @restaurant.name %> to our list! 
      If you happen to their location and delivery information, please
      enter it below. Otherwise you can head back to our <%= link_to 'main page', root_path %>.
    </div>
  <% end %>

  <h1>New <%= @restaurant.name %> Location</h1>


  <%= render 'form', location: @location %>

  <%= link_to 'Back', restaurants_path %>
</div>
