<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161459282-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161459282-1');
    </script>
    
    <title>CHYOW DOWN!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/c593d4c0e6.js" crossorigin="anonymous"></script>
    <%= include_gon %>

   

  </head>

  <body>
    <div id="header">
      <div class="container">
        <%= link_to image_tag('logo_white.png', class: 'logo'), root_path %>

        <div class='session-info'>
          <% if user_signed_in? %>
            (
              signed in as <%= current_user.email %>
              <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
            )
          <% else %>
            <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div id="notice"><%= notice %></div>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">

      </div>
    </div>
  </body>
</html>
