<!DOCTYPE html>
<html>
  <head>
    <title>Local Eats Ottawa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://kit.fontawesome.com/c593d4c0e6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="header">
      <div class="container">
        <%= link_to 'Local Eats Ottawa', root_path %>
        <% if user_signed_in? %>
          (
            signed in as <%= current_user.email %>
            <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
          )
        <% end %>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div id="notice"><%= notice %></div>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">

      </div>
    </div>
  </body>
</html>
